$primary-color: #7510F7;
$secondary-color: #c6538c;
$small: 600px;
$medium: 900px;

// .example {
//   //some CSS
//   @media screen and (max-width: $small) {
//     //do Smth
//   }
//   @media screen and (min-width: $medium) {
//     //do Smth
//   }
// }

body {
    background: white;
}

.navi {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 16px;
    padding-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid $primary-color;

    a {
        color: $primary-color;
        font-size: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        display: flex;
        align-items: center;
    }

    .navi-email {
        font-size: 16px;
        i {
            margin: 0;
            padding: 0;
            font-size: 34px;
            position: relative;
            top: 0px;
        }
    }
}

.jumbotron {
    background-color: white;
    min-height: 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 16px;

    h1, p {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 3.6rem;
        font-weight: bold;

         @media screen and (max-width: $small) {
            font-size: 2.4rem;
        }
        
    }

    h1 {
        margin-top: 100px;
        @media screen and (max-width: $small) {
            margin-top: 60px;
        }
    }

    p {
        font-size: 1.7rem;
        text-align: center;
        max-width: 600px;
        font-weight: 300;
        color: $primary-color;
    }

    img {
        border-radius: 500px;
        height: 180px;
        border: 2px solid;
        border-color: $primary-color;
        margin-top: 100px;

        @media screen and (max-width: $small) {
            margin-top: 60px;
            height: 140px;
        }
    }
}

